
* {
  margin: 3 auto;
  padding: 6px;
  box-sizing: border-box;
  font-size: 100%;
}
/*
.profile-card {
  background-color: hsla(60, 100%, 50%, .4);
}

.head {
  background-color: hsla(170, 100%, 50%, .4);
}

.content {
  background-color: hsla(120, 100%, 50%, .4);
}

.profile-image {
  background-color: hsla(300, 100%, 50%, .4);
}

.name-headline {
  background-color: hsla(360, 100%, 50%, .4);
}

.about {
  background-color: hsla(200, 100%, 50%, .4);
}

.links {
  background-color: hsla(250, 100%, 50%, .4);
}
*/

.right {
  float: right;
}

.mycard {
    max-width: calc(100vw - 10px);
}

p{
  font-family: Roboto;
}
.profile {
  height: 100%;
  width: 33%;
}
.middle {
  height: 100%;
  width: 34%;
}
.content {
  height: 100%;
  width: 33%;
}

body {
  background-image: url("assets/louvre.jpg") ;
  background-size: cover;
  text-align:justify;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: lightgoldenrodyellow;
}
#nametitle{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  
}
#name{
  font-size: 5em;
  font-weight:400;
}

#nametitle,#profession, #location{
text-align: center;
  font-family: "Dancing Script"
}

#contactlinks {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

#lista {
  text-align: center;
  filter:brightness(100);
}

.photo {
  display: block;
  margin-left: 70px;
  margin-right: 50px;
  margin-top: 50px;
  position: relative;
}

.photo:hover .fun{
  display: block;
}

.photo .fun{
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  
}
/*
img{
  height: 272px;
  width: 185px;
}
*/

#profession {
  font-size: 20px;
}
